@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, inital-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>Ekran logowania i rejestracji</title>
    </head>
    <body>
        <div class="container">
            @{
                if (ViewData["info"] != null && ViewData["info"] == "logoutSuccess")
                {
                    <p>Pomyślnie wylogowano z systemu</p>
                }
            }
            <div class="container-fluid align-content-center justify-content-center">
                @Html.ActionLink("Zaloguj się", "Login", "Account", null, new { @class = "btn btn-primary"})
                @Html.ActionLink("Zarejestruj się", "Register", "Account", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </body>
</html>
