@{
    ViewData["Title"] = "Home Page";
    @model SurveyEditModel

}
<div class="text-center">
    <div class="row">
        <div class="card col-6">
            <div class="card-header">
                <h2>@Model.Survey.Title</h2>
            </div>
            <div class="card-body">
                @foreach (var question in Model.Questions)
                {
                    <p>@question.Content</p>

                    @foreach (var answer in Model.Answers)
                    {
                        <p>@answer.Content</p>
                    }
                }
            </div>
        </div>
        <div class="card col-6">
            <form asp-action="Edit" asp-controller="Survey" method="post">
                <div class="row">
                    <label asp-for="questionContent" class="form-label col-12">Treść Pytania</label>
                    <input asp-for="questionContent" class="form-text col-12" type="text" value="" required />
                    <span asp-validation-for="questionContent" class="text-danger col-4 offset-4"></span>
                    <input asp-for="Action" hidden readonly type="number" value="1" />
                    <input asp-for="surveyId" hidden readonly type="number" value="@Model.Survey.Id" />
                </div>
                <div class="row">
                    <label asp-for="questionType" class="form-label col-12">Typ Pytania</label>
                    <select asp-for="questionType" class="form-text col-12" required>
                    <option value="text">Text</option>
                    <option value="radio">Radio</option>
                    </select>
                </div>
                <input type="submit" />
            </form>
        </div>
    </div>
</div>
