@{
    ViewData["Title"] = "Home Page";
    @model SurveyShowModel

}

<div class="text-center">
    <div class="row">
        <div class="card col-6">
            <div class="card-header">
                <h2>@Model.Survey.Title</h2>
            </div>
            <div class="card-body">
                @foreach (var question in Model.Questions)
                {
                    <p>@question.Content</p>

                    @foreach (var answer in Model.Answers)
                    {
                        <p>@answer.Content</p>
                    }
                }
            </div>
        </div>
    </div>
</div>
